<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <module name="HappyMachines_CustomFormsPageBuilder">
        <sequence>
            <module name="HappyMachines_CustomForms" />
        </sequence>
    </module>
</config>
